@charset "UTF-8";

@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {font-family: 'Open Sans', sans-serif;}

body {
  background-color: #f5f5f5;
  color: #212121;
  margin: 0;
}

.Banner {
  height: 55px;
  color: #fff;
  background-color: #353535;
  position: fixed;
  top: 0;
  left: 0;
  width: 210px;
  border-bottom: 1.5px solid #49494a;
  z-index: 1;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.Sidebar {
  color: #fff;
  background-color: #353535;
  position: fixed;
  top: 55px;
  left: 0;
  width: 230px;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.Sidebar ul {
  list-style: none;
  padding-left: 0;
}

.Sidebar li {
  padding: 13px 24px;
  cursor: pointer;
}

.Sidebar li:hover {
  background-color: #3d3d3d;
}

.space {
  pointer-events: none;
}

a {
  text-decoration: none;
  color: white;
}

.Header {
  position: absolute;
  top: 0;
  left: 230px;
  right: 0;
  height: 55px;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.header-text {
  margin-left: 20px;
  color: #004080;
}

.header-right {
  margin-right: 20px;
}

.header_logout {
  background-color: skyblue;
  color: white;
  border: none;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.MainBoard {
  position: absolute;
  top: 55px;
  left: 230px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
}

#mainContent {
  flex: 1;
}

/* 여기서부터 대시보드 */
.main_container {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f2f2f2;
    border: 1px solid #e3e5e8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container_top,
.container_bottom {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.total_visit,
.today_visit,
.total_rv,
.rv_rate,
.graph_chart{
    border-radius: 10px;
    border: 1px solid #e3e5e8;
    margin: 10px;
    flex: 1;
    padding: 20px;
    background-color: white;
}

.total_visit,
.today_visit,
.total_rv,
.rv_rate {
    min-width: 200px;
    min-height: 250px;
}

#chart_div,
#table_chart_body {
    width: 100%;
    height: 400px;
}

.table_chart {
	border-radius: 10px;
    border: 1px solid #e3e5e8;
    margin: 10px;
    flex: 1;
    padding: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    min-height: 400px;
}
.card {
    padding: 20px;
    justify-content: center;
}
.card_header{
	font-size: 26px;
    font-weight: bold;
    margin-bottom: 50px;
}
.card_body{
	text-align: center;
	font-size: 40px;
    font-weight: bold;
     margin-right: 5px;
}
.card_body_rate {
    align-self: flex-end;
    text-align: center;
    color: red;
}
.card_content {
    display: flex;
    margin-left: 40px;
    justify-content: center; /* Added horizontal center alignment */
}

.table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #e3e5e8;
}

.table th,
.table td {
  border: 1px solid #e3e5e8;
  padding: 10px;
}

.table thead th {
  background-color: #f2f2f2;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

.table_header {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #e3e5e8;
  padding-bottom: 5px;
}

.tdr {
  text-align: right;
}