<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>www.ybtour.co.kr by html.to.design ❤️ FREE version - 11/08/2023, 11:35:51 GMT+9</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600"/>
  <link rel="stylesheet" href="/css/community/communityDetail.css"/>
</head>
<body>
<div class="wwwybtourcokr-by-htmltodesign-free-version-11-08-2023-11-35-51-gmt9-1h3">
  <div class="divcontainer-NR7">
    <div class="list-zqo">
      <div class="item-link--sub">홈</div>
      <div class="item-uLV">        <div class="item-uLV-bg">
        </div>
나의 여행기</div>
    </div>
    <div class="divcontent-5PP">
      <div class="heading-3--o4V">나의 여행기</div>
      <div class="divconttravelreview-tbj">
        <div class="heading-4-RLm">
          <div class="item--WND"> 두번 올라가 두번본 천지</div>
          <div class="divbrdright-YCR">
            <div class="spanh2d-65fff737-ryo">
              <div class="item--161">심*원 님</div>
              <div class="pseudo-WHf">
              </div>
            </div>
            <div class="spanh2d-68d532b5-SBK">
              <div class="item-20230619-PMT">2023.06.19</div>
              <div class="pseudo-hsw">
              </div>
            </div>
            <div class="item-783-eHP">조회 783</div>
          </div>
        </div>
        <div class="auto-group-cely-Z9T">
          <div class="divbrdeditor-gjs">
            <div class="divreportbox-oJh">
              <div class="divtxtguide-KXw">
                <div class="pseudo-Euo">
                </div>
                <div class="item--KwF">아래 내용은 고객님께서 직접 다녀오신 여행 상품에 대해 작성하신 후기입니다.</div>
              </div>
              <div class="spanrecommandbtnarea-kFs">
                <div class="button-tcy">
                  <div class="button-tcy-bg">
                  </div>
                </div>
                <div class="item-1-8XK">1</div>
                <div class="button-qRj">
                  <div class="button-qRj-bg">
                  </div>
                </div>
              </div>
            </div>
            <div class="diveditorarea-hTw">
              <div class="auto-group-jfoo-Eim">
                <div class="auto-group-gkwq-and">
                  <div class="item-10--8JM">10번가서 한번도 못본 사람도 있다고 합니다</div>
                  <div class="item--z5f">두번보는 천지 상품 말 그대로 두번보고 왔습니다</div>
                </div>
                <div class="auto-group-vf4u-qry">
                  <div class="item--zE5">조경호 가이드님이 날씨복이 있다 하시드만..</div>
                  <div class="item--TNZ">비 온다는 예보도 있었으나 </div>
                </div>
                <div class="auto-group-nzss-XtD">
                  <div class="item--UYZ">사진처럼 맑은 하늘 맑은 천지였어요</div>
                  <div class="item--xid">정말 잊지못할 추억 만들어주신 조다거..쉐 쉐입니다</div>
                  <div class="item--RMK">정말 고생 많으셨습니다 </div>
                </div>
                <div class="auto-group-djqt-Vc5">
                  <div class="item--EpZ">나이든 언니들 수발하시느라..ㅎ</div>
                  <div class="item--KLD">여러 우여곡절 위기상황에서도 </div>
                  <div class="item--yQm">잘 이끌어주셔서 감사합니다 </div>
                </div>
              </div>
              <div class="figure-20230619104423766001040jpg-SZF">
              </div>
              <div class="figure-20230619104422838001047jpg-8S5">
              </div>
            </div>
          </div>
          <div class="heading-4--DTX">다녀오신 상품</div>
        </div>
        <div class="button-KFf">신고하기</div>
        <div class="button-xZX">목록</div>
        <div class="divboxprodinfo-1nh">
          <div class="c588e936f0127c1002d95ffc681d5e5ctn410x280jpg-JWu">
          </div>
          <div class="auto-group-r9jq-C6V">
            <div class="spanicobrdblue-tzu">
              <div class="spanh2d-121b737c-a73">
                <div class="item--ttR">해외패키지</div>
                <div class="pseudo-QLy">
                </div>
              </div>
              <div class="item--hqs">중국</div>
            </div>
            <div class="spanlinkellipsis-Nx1">[CJ온스타일+] 백두산/서파+북파 4일 #가장가까운공항 #두번보는천지</div>
          </div>
          <div class="button-VFw">상품정보 보기</div>
        </div>
        <div class="divh2d-ad67deac-XyK">
          <div class="item--U1P">후기가 도움 되었나요?</div>
          <div class="spanrecommandbtnarea-kUh">
            <div class="button-Jm7">
              <div class="button-Jm7-bg">
              </div>
            </div>
            <div class="item-1-NW5">1</div>
          </div>
        </div>
        <div class="divblocktitareamore-gFs">관련상품</div>
        <div class="list-kmX">
          <div class="item-537">
            <div class="link-dKX">
              <div class="spanthumbpic-akZ">
                <div class="spantagsquare-j7f">
                  <div class="item--3PF">해외</div>
                  <div class="item--Lt9">패키지</div>
                </div>
                <div class="spanthumbpic-akZ-bg">
                </div>
                <div class="spanthumbpic-akZ-bg">
                </div>
              </div>
              <div class="divpdtlistinfo-kBB">
                <div class="heading-5-5DT">백두산/장춘 4일 #북파 #장백폭포</div>
                <div class="spanlistdate-AVo">
                  <div class="item--hVj">출발기간</div>
                  <div class="item-20230826-20231031-RRj">2023.08.26 ~ 2023.10.31</div>
                </div>
                <div class="spanlistprice-XzZ">
                  <div class="emphasis-5WH">
                    <div class="strong-599000-1Pw">599,000</div>
                    <div class="item--KQd"> 원~</div>
                  </div>
                  <div class="spanbtnday-dw7">출발일 보기</div>
                </div>
              </div>
            </div>
          </div>
          <div class="item-HVs">
            <div class="link-e5X">
              <div class="spanthumbpic-z9P">
                <div class="spantagsquare-LDF">
                  <div class="item--3NZ">해외</div>
                  <div class="item--xEd">패키지</div>
                </div>
                <div class="spanthumbpic-z9P-bg">
                </div>
                <div class="spanthumbpic-z9P-bg">
                </div>
              </div>
              <div class="divpdtlistinfo-8oK">
                <div class="heading-5-fYM">백두산/대련 5일 #서파 #고구려유적지</div>
                <div class="spanlistdate-9yK">
                  <div class="item--gyF">출발기간</div>
                  <div class="item-20230822-20231103-DCV">2023.08.22 ~ 2023.11.03</div>
                </div>
                <div class="spanlistprice-Xiy">
                  <div class="emphasis-g65">
                    <div class="strong-399000-ckR">399,000</div>
                    <div class="item--wXo"> 원~</div>
                  </div>
                  <div class="spanbtnday-sAZ">출발일 보기</div>
                </div>
              </div>
            </div>
          </div>
          <div class="item-KoF">
            <div class="link-gdo">
              <div class="spanthumbpic-EQR">
                <div class="spantag-NFj">
                  <div class="spantagsquare-uFf">
                    <div class="item--cvm">해외</div>
                    <div class="item--hhK">패키지</div>
                  </div>
                  <div class="spantagsquare-Ce5">프리미엄</div>
                </div>
                <div class="spanthumbpic-EQR-bg">
                </div>
                <div class="spanthumbpic-EQR-bg">
                </div>
              </div>
              <div class="divpdtlistinfo-AzD">
                <div class="heading-5-6ss">
                  <div class="item-4--dcu">
                  백두산/장춘 4일 #북파+서파 #노팁노
                  <br/>
                  옵션노쇼핑
                  </div>
                </div>
                <div class="spanlistdate-Jj3">
                  <div class="item--eH7">출발기간</div>
                  <div class="item-20230826-20231031-xHo">2023.08.26 ~ 2023.10.31</div>
                </div>
                <div class="spanlistprice-3a9">
                  <div class="emphasis-yTo">
                    <div class="strong-1199000-ucM">1,199,000</div>
                    <div class="item--E8q"> 원~</div>
                  </div>
                  <div class="spanbtnday-xad">출발일 보기</div>
                </div>
              </div>
            </div>
          </div>
          <div class="item-DFf">
            <div class="link-NeM">
              <div class="spanthumbpic-87j">
                <div class="spantag-HFX">
                  <div class="spantagsquare-q29">
                    <div class="item--ZD3">해외</div>
                    <div class="item--fWy">패키지</div>
                  </div>
                  <div class="spantagsquare-nbb">프리미엄</div>
                </div>
                <div class="spanthumbpic-87j-bg">
                </div>
                <div class="spanthumbpic-87j-bg">
                </div>
              </div>
              <div class="divpdtlistinfo-anM">
                <div class="heading-5-KE9">
                  <div class="item-4--3fw">
                  백두산/연길 4일 #북파+서파 #노팁노
                  <br/>
                  옵션노쇼핑
                  </div>
                </div>
                <div class="spanlistdate-vjj">
                  <div class="item--TzZ">출발기간</div>
                  <div class="item-20230826-20231003-bL5">2023.08.26 ~ 2023.10.03</div>
                </div>
                <div class="spanlistprice-iQh">
                  <div class="emphasis-rmo">
                    <div class="strong-1049000-nvM">1,049,000</div>
                    <div class="item--vFs"> 원~</div>
                  </div>
                  <div class="spanbtnday-47B">출발일 보기</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-WE5">
          <div class="body-Efs">
            <div class="row-CMo">
              <div class="cell-ZCM">이전 글</div>
              <div class="data-fWH">
                <div class="link-CWD">계획 된 일정 준수 바랍니다.</div>
              </div>
            </div>
            <div class="row-t89">
              <div class="cell-qp5">다음 글</div>
              <div class="data-A5f">
                <div class="link-tnM">임노수팀장과 함께한 서유럽 10박12일</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>